// title heading
.widget-heading-title{
  .sub-title{
    font-size: 18px;
    color: $theme-color;
    margin: 0 0 10px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    span{
      display: inline-block;
      position:relative;
      padding:0 30px;
      &:before,&:after{
        content: '';
        background:$theme-color;
        @include size(100px,1px);
        position: absolute;
        top:50%;
        left: 100%;
        @include translateY(-50%);
      }
      &:after{
        left: inherit;
        right:100%;
      }
    }
  }
  &.line-center{
    text-align: center;
    .title{
      display: inline-block;
      font-size: 30px;
      margin: 0 0 30px;
      padding:0 0 22px;
      position:relative;
      &:after,
      &:before{
        content: '';
        @include size(100%,1px);
        background: $border-color;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
      &:after{
        @include size(60px,1px);
        z-index: 2;
        right: 0;
        margin: auto;
        background:$theme-color;
      }
    }
  }
  &.style_1{
    .title{
      font-size: 22px;
      margin: 0 0 15px;
      position:relative;
      &:before{
        content: '';
        @include size(5000px,1px);
        background: $theme-color;
        position: absolute;
        top: 50%;
        @include rtl-right(104%);
        @include translateY(-50%);
      }
      img{
        display: inline-block;
        vertical-align: top;
        @include rtl-margin-right(12px);
      }
    }
  }
  &.style_2{
    .title{
      font-size: 30px;
      padding:0 0 25px;
      margin: 0 0 20px;
      color: #fff;
      position:relative;
      &:before{
        content: '';
        position:absolute;
        bottom:0;
        @include rtl-left(0);
        background:$border-color;
        z-index: 1;
        @include size(100%,1px);
      }
      &:after{
        content: '';
        position:absolute;
        bottom:0;
        background: $theme-color;
        @include rtl-left(0);
        @include size(60px,1px);
        z-index: 9;
      }
    }
  }
  &.style_3{
    text-align: center;
    .title{
      font-size: 30px;
      margin: 0 0 10px;
    }
  }
  &.style_4{
    text-align: center;
    .title{
      font-size: 30px;
      margin: 0 0 10px;
      color: #fff;
    }
  }
  &.style_5{
    .title{
      font-size: 30px;
      margin: 0 0 30px;
      position:relative;
      padding:0 0 20px;
      &:before{
        content: '';
        position:absolute;
        bottom:0;
        @include rtl-left(0);
        background:$border-color;
        z-index: 1;
        @include size(100%,1px);
      }
      &:after{
        content: '';
        position:absolute;
        bottom:0;
        background: $theme-color;
        @include rtl-left(0);
        @include size(60px,1px);
        z-index: 9;
      }
    }
  }
}
.slick-carousel{
  .slick-dots{
    margin: 0;
    padding:0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 4px;
      button{
        @include size(15px,15px);
        background:#f2f2f2;
        border:none;
        text-indent:-9999em;
        overflow: hidden;
        @include border-radius(50%);
      }
      &.slick-active{
        button{
          background:$theme-color;
        }
      }
    }
  }
  &.gutter30{
      width:calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      .slick-slide{
        padding-right:15px;
        padding-left:15px;
        margin: 0 0 30px;
      }
  }
}
.owl-controls .owl-buttons div,
.slick-prev, .slick-next {
  background: #fbfbfb;
  border: 1px solid $border-color;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 0;
  height: 40px;
  line-height: 38px;
  margin-top: -20px;
  outline: medium none;
  padding: 0;
  position: absolute;
  top: 50%;
  @include rtl-left(0);
  width: 40px;
  z-index: 9;
  @include border-radius(50%);
  &:before{
    font-size:18px;
    color: $link-color;
    font-family: 'FontAwesome';
    content: "\f100";
  }
  &:active,
  &:hover{
    background:$theme-color;
    border-color:$theme-color;
    &:before{
      color:#fff;
    }
  }
}
.owl-controls .owl-buttons div.owl-next:before{
  content: "\f101";
}
.slick-next{
  @include rtl-left(inherit);
  @include rtl-right(0);
  &:before{
    content: "\f101";
  }
}
//kc-carousel_images
.kc-carousel_images{
  .owl-dots{
    display: none !important;
  }
  .owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{
    @include opacity(1);
    @include rtl-left(30px);
  }
  .owl-carousel .owl-controls .owl-nav .owl-next{
    @include rtl-right(30px);
    @include rtl-left(inherit);
  }
}
/// accordion
.kc_accordion_wrapper{
  .kc_accordion_section{
    > .kc_accordion_header{
      font-size: 16px;
      font-family: $font-family-second;
      color: $link-color;
      > a{
        font-weight: 600;
        padding:7px 25px;
        position:relative;
        z-index: 1;
      }
      &.ui-state-active{
        background:$theme-color;
        border-color:$theme-color;
        > a{color: #fff;}
      }
    }
  }
  .kc_accordion_content .kc-panel-body{
    padding:40px 30px 20px;
  }
  .kc_accordion_section.group{
    padding-bottom:15px;
  }
  .kc_accordion_header > span.ui-accordion-header-icon::before{
    font-size: 15px;
    font-family: 'FontAwesome';
    content: "\f0fe";
    color: $link-color;
  }
  .kc-section-active .kc_accordion_header.ui-state-active > span.ui-accordion-header-icon::before{
    color: #fff;
    font-size: 15px;
    content: "\f146";
    font-family: 'FontAwesome';
  }
  .kc_accordion_header > span.ui-accordion-header-icon{
    margin: 13px 20px;
  }
}
.kc_accordion_header > span.ui-accordion-header-icon{
  @include rtl-float-right();
}
.kc_progress_bars{
  .kc-ui-progress-bar{
    background:#fff;
    height: 10px;
    @include border-radius(5px);
    overflow: hidden;
    &:before{
      content: '';
      @include size(100%,100%);
      border:1px solid $border-color;
      @include border-radius(1px);
      position:absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  .kc-ui-progress{
    position:absolute;
    z-index: 2;
    top: -1px;
    @include rtl-left(-1px);
    height: 100%;
  }
  .info{
    font-weight: 600;
    margin: 0 0 14px;
    > span{
      line-height: 1;
    }
  }
}
.kc-elm.kc_progress_bars .progress-item span.label{
  color: $link-color;
  font-weight: 600;
  padding:0;
  margin: 0;
}
.kc_progress_bars .progress-item{
  margin: 0 0 15px;
  &:last-child{
    margin: 0;
  }
}
// addon
.addon{
  text-align: center;
  a{
    display: inline-block;
    @include border-radius(50%);
    background:#fff;
    color: $link-color;
    font-size: 30px;
    @include size(65px,65px);
    line-height: 65px;
    text-align: center;
    margin: 0 4px;
    &:hover,&:active{
      color: $theme-color;
    }
  }
}
// action
.action-counter{
  margin: 0;
  position:relative;
  overflow: hidden;
  .btn{
    position:relative;
    &:before,&:after{
      content: '';
      @include size(5000px,1px);
      background:#27292c;
      position:absolute;
      top: 50%;
      left: 100%;
      z-index: 1;
      @include translateY(-50%);
      margin-left:30px;
    }
    &:after{
      left: inherit;
      right: 100%;
      margin-right:30px;
      margin-left:0;
    }
  }
}
// list circle
.list-circle{
  @include rtl-padding-left(15px);
  margin: 0;
  line-height: 1.4;
  li{
    margin: 0 0 15px;
  }
}
.about-track{
  p{
    margin: 0 0 3px;
    i{
      @include rtl-margin-right(8px);
    }
  }
  a{
    color: #fff;
    &:hover,&:active{
      color: $theme-color;
    }
  }
  &.dark a{
    color: $link-color;
    &:hover{
      color: $theme-color;
    }
  }
}
// kc team
.kc-team-3{
  &.kc-team{
    @include rtl-text-align-left();
    .content-socials a{
      background: transparent;
      border:none;
    }
    .overlay{
      padding: $theme-padding;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      -webkit-align-content: flex-end;
      align-content: flex-end;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .content-socials{
      position: absolute;
      top:0;
      @include rtl-left(20px);
    }
  }
}
.kc-team.kc-team-2{
  .content-image{
    width:170px;
    padding:0;
    max-width: 170px;
    float: none;
    @include border-radius(50%);
    overflow: hidden;
    position:relative;
    &:before{
      content: '';
      position:absolute;
      top: 0;
      left: 0;
      @include size(100%,100%);
      background: $theme-color;
      @include opacity(0);
      z-index: 1;
      @include transition(all 0.2s ease-in-out 0s);
    }
  }
  .content-image-wrapper{
    position:relative;
    @include rtl-margin-right($theme-margin);
    @include rtl-float-left();
  }
  .content-title{
    font-size:22px;
    font-weight: 600;
    font-family:$font-family-second;
    color:#fff;
    margin: 0;
    text-transform: inherit;
  }
  .content-subtitle{
    font-size: 14px;
    font-weight: 400;
    color: $theme-color;
  }
  .content-desc{
    color: $text-color;
    font-size:16px;
    margin: 10px 0 0;
    line-height: 26px;
  }
  .content-socials{
    float:none;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    z-index: 9;
    @include translateY(-50%);
    @include opacity(0);
    @include transition(all 0.2s ease-in-out 0s);
    a{
      color: #fff;
      font-size: 21px;
      background:transparent !important;
      border:none !important;
      margin: 0;
    }
  }
  &:hover{
    .content-image:before{
      @include opacity(0.8);
    }
    .content-socials{
      @include opacity(1);
    }
  }
}
// widget call to action
.widget.widget-action{
  text-align: center;
  .widget-title{
    font-size: 50px;
    line-height: 1.1;
    margin: 0;
  }
  .description{
    font-size: 16px;
    margin: 0 0 25px;
  }
  &.style1{
    text-align: inherit;
    @media(min-width:992px){
      .widget-title{
        @include rtl-margin-left(-100px);
      }
    }
    .widget-title{
      color: $theme-color;
    }
  }
  &.style2{
    @include rtl-text-align-right();
    .widget-title{
      margin: 0 0 15px;
    }
    .description,
    .widget-title{
      color: #1b1a1a;
    }
  }
}
.widget-calltoaction{
  .desc{
    margin: 0 0 28px;
  }
  .btn + .btn{
    @include rtl-margin-left(20px);
  }
  .btn-theme.btn-outline{
    color: $link-color !important;
    &:hover,&:active{
      color: #fff !important;
    }
  }
}
// widget mapbox
.widget-mapbox{
  .title{
    margin: 0 0 22px;
    padding:0 0 18px;
    position:relative;
    font-size:20px;
    text-transform: uppercase;
    &:before{
      content: '';
      @include size(160px,3px);
      background:$theme-color;
      position:absolute;
      bottom:0;
      @include rtl-right(100%);
      @include rtl-margin-right(-40px);
    } 
  }
  .location{
    margin: 0 0 25px;
  }
  display: table;
  width:100%;
  > div{
    display: table-cell;
    vertical-align: middle;
    width:50%;
  }
  .content{
    padding:40px;
    border-style:solid;
    border-color:$border-color;
    border-width:1px 1px 1px 0;
  }
}
// widget counter
.counters{
  text-align: center;
  h5{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 0;
  }
  .info{
    color: #fff;
    font-size: 60px;
    font-weight:700;
    line-height: 1.6;
    font-family: $font-family-second;
    word-spacing:-10px;
  }
  .icon{
    @include border-radius(50%);
    @include size(80px,80px);
    display: inline-block;
    line-height: 80px;
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
    background:$theme-color;
  }
  .description{
    font-size: 22px;
    color: #b6b7b8;
    font-weight: 400;
  }
}
//accordion
.vc_tta-accordion{
  .vc_tta-panel{
    margin: 0 0 10px;
    border:1px solid darken($border-color,7%);
    .vc_tta-panel-title{
      font-size: 14px;
      text-transform: uppercase;
      > a{
        color: #000  !important;
      }
    }
    .vc_tta-panel-heading{
      margin: 0 !important;
       padding: 4px;
      border:none;
      background: #fff !important;
    }
    .vc_tta-panel-body{
      background: #fff !important;
      border:none !important;
      padding: 10px  $theme-padding 20px;
    }
  }
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon{
  left: inherit;
  right: 30px;
}
//widget banner
.widget-banner{
  margin: 0 0 $theme-margin;
  .title{
    font-size: 22px;
    margin: 0 0 30px;
    padding:0 0 22px;
    position:relative;
    &:before,&:after{
      content: '';
      position:absolute;
      bottom:0;
      z-index: 1;
      @include rtl-left(0);
      @include translateY(-50%);
      @include size(100%,1px);background:#f2f2f2;
    }
    &:before{
      @include size(60px,1px);background:$theme-color;
      z-index: 9;
    }
    span{
      color: $theme-color;
    }
  }
  .banner{
    margin: 0 0 20px;
    line-height: 0;
    overflow: hidden;
    position:relative;
    &:before{
      @include transition(all 0.15s ease-in-out 0s);
      content: '';
      position:absolute;
      @include size(100%,100%);
      border:4px solid $theme-color;
      @include scale(1.5);
      @include opacity(0);
    }
  }
  &:hover{
    .banner:before{
      @include scale(1);
      @include opacity(1);
    }
  }
  .desc{
    color: $text-color;
    margin: 0 0 10px;
  }
  &.normal{
    .banner:before{
      border:none !important;
    }
    .title{
      font-size: 30px;
      padding:0 0 18px;
    }
  }
  &.style_transparent{
    position:relative;
    .title{
      color: #fff;
      font-size: 30px;
      &:after{
        background: rgba(255,255,255,0.1);
        width:120px;
      }
    }
    .banner:before{
      border:none !important;
      background: rgba(0,0,0,0.4);
    }
    .desc{
      color: #fff;
      margin: 0 0 30px;
      @include opacity(0.7);
      @include transition(all 0.2s ease-in-out 0s);
    }
    .btn-readmore{
      color: #fff;
    }
    .content{
      position:absolute;
      z-index: 1;
      top: 0;
      left: 0;
      @include size(100%,100%);
      padding:45px 60px;  
    }
    .content-bottom{
      @include transition(all 0.2s ease-in-out 0s);
      position:absolute;
      bottom:0;
      @include rtl-left(0);
      padding:45px 60px;
      width:100%;
    }
    &:hover{
      .content-bottom{
        @include translateY(-30px);
      }
      .desc{
        @include opacity(1);
      }
    }
  }
}
.widget-images-carousel{
  .item-wrapper{
    position:relative;
    .popup-video{
      @include size(65px,65px);
      line-height: 65px;
      display: inline-block;
      text-align:center;
      position:absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      @include border-radius(50%);
      font-size: 30px;
      color:#fff;
      background:rgba(0,0,0,0.3);
      @include translate(-50%,-50%);
      @include transition(all 0.2s ease-in-out 0s);
    }
  }
  .special-carousel-1{
    margin: 0 0 16px;
    .image-wrapper{
      position:relative;
      &:before{
        position:absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: '';
        @include size(100%,100%);
        background:rgba(0,0,0,0.5);
        @include opacity(0);
        @include transition(all 0.2s ease-in-out 0s);
      }
    }
    &:hover{
      .popup-video{
        background:rgba(0,0,0,0.8);
      }
      .image-wrapper:before{
        @include opacity(1);
      }
    }
  }
  .special-carousel-2 {
    margin-left: -8px;
    margin-right: -8px;
    .slick-slide{
      padding-left: 8px;
      padding-right: 8px;
      .image-wrapper{
        @include transition(all 0.2s ease-in-out 0s);
        outline: none;
      }
      &.slick-current,
      &:hover{
        .image-wrapper{
          outline: 2px solid $theme-color;
          outline-offset: -2px;
        }
      }
    }
    .slick-dots{
      margin: 45px 0 0;
    }
    &.slick-carousel .slick-dots li button{
      background:rgba(255,255,255,0.2);
    }
    &.slick-carousel .slick-dots li.slick-active button{
      background:$theme-color;
    }
  }
}
//widget_apus_vertical_menu
.widget_apus_vertical_menu{
  .widget-vertical-menu{
    ul{
      padding: 0 30px;
      background: $theme-color-secondary  ;
    }
  }
}
// widget vertical menu
.widget.widget_apus_vertical_menu{
  > .widget-title{
    margin: 0;
    padding: 20px 40px;
    background:$theme-color;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border:none;
    .fa{
      @include rtl-margin-right(18px);
    }
    > span{
      padding: 0;
      border:none;
      margin: 0;
    }
  }
  .dropdown-menu{
    .widgettitle,
    .widget-title{
      border:none;
      margin: 0 0 10px;
      > span{
        margin: 0;
        padding: 0;
        border:none;
      }
    }
  }
  &.darken{
    .apus-vertical-menu{
      background: #f6f6f6;
    }
  }
}

.apus-vertical-menu{
  padding: 0 !important;
  background: #fff;
  .navbar-vertical-mega{
    > li{
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(#dddddd,0.3);
      text-transform: capitalize;
      line-height: 60px;
      &:last-child{
        border: none;
      }
      &.open,
      &:hover{
        > a{
          background: transparent;
        }
      }
      > a{
        font-size: 20px;
        padding: 0;
        font-weight: 700;
        color: #ffffff;
        &:hover,
        &:active,
        &:focus{
          background:transparent;
        }
        > img{
          @include rtl-margin-right(18px);
        }
        .caret{
          @include rtl-float-right();
          margin: 23px 0 0;
          @include rotate(-90deg);
        }
      }
      .apus-container{
        padding: 10px 35px;
      }
    }
    .dropdown-menu{
      .apus_custom_menu,
      .widget{
        margin: 0;
      }
      .product-block.grid{
        margin: 0 0 10px;
      }
    }
  }
  &.menu-left{
    .dropdown-menu{
      top: 0;
      left: 100%;
    }
  }
  &.menu-right{
    .dropdown-menu{
      top: 0;
      right: 100%;
    }
  }
}
// widget contact
.widget-contact{
  .title{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
  }
  .item{
    padding: 0 0 $theme-margin;
    &:last-child{
      padding: 0;
    }
  }
  &.default{
    color: #999999;
    .title{
      color: #fff;
      margin: 0 0 5px;
    }
    .media-left {
      > i{
        border:1px solid #fff;
        @include border-radius(4px);
        @include size(50px,50px);
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        color: $theme-color;
      }
    }
    @media(min-width:992px){
      .media-left{
        @include rtl-padding-right(20px);
      }
    }
    &.style_circle{
      .media-left > i{
        @include border-radius(50%);
      }
    }
    &.style_normal{
      .item{
        padding: 0 0 50px;
      }
      .title{
        color: $link-color;
      }
      .media-left {
        > i{
          border:1px solid $border-color;
        }
      }
    }
  }
}

// tab lists
.tabs-v1{
  padding: 30px 0;
  .tab-content{
    margin:0;
    #comments{
      border: none;
    }
  }
  .nav-tabs{
    border: none;
    margin:0 0 40px;
    position: relative;
    padding:0;
    li{
      margin: 0;
      float: none;
      border-bottom: 2px solid transparent;
      position: relative;
      z-index: 9;
      > a{
        font-size: 18px;
        font-weight: 700;
        color: #999999;
        font-family: $font-family-second;
        text-transform: uppercase;
        background: transparent !important;
        padding: 10px 20px;
        @include transition(all 0.3s ease 0s);
        border: none !important;
        display: inline-block;
      }
      &:hover,&:active,&.active{
        border-color: $theme-color;
        > a{
          color: $link-color;
        }
      }
    }
  }
  h2{
    margin:0 0 ($theme-margin / 2);
    font-size:28px;
    font-weight: 600;
    margin: 0 0 30px !important;
    text-align: uppercase;
  }
}

.nav.tabs-product1{
  text-align: center;
  padding: 20px 0;
  > li{
    display: inline-block;
    line-height: 1;
    float: none;
    @include rtl-border-right(1px solid $text-color);
    &:last-child{
      border:none;
    }
    > a{
      font-family: $headings-font-family;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-color;
      padding: 0 10px;
      background: transparent;
    }
    &.active,
    &:hover{
      > a{
        color: $theme-color;
        background: transparent;
      }
    }
  }
}
.nav.tabs-product-light{
  > li{
    border-color: #fff;
    > a{
      color: #fff;
    }
    &.active,
    &:hover{
      > a{
        color:$theme-color-second;
        background: transparent;
      }
    }
  }
}
// carousel
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel-top .owl-carousel,
.owl-carousel-top.owl-carousel{
  .owl-controls .owl-nav .owl-next,
  .owl-controls .owl-nav .owl-prev{
    @include opacity(1);
    background: #fff !important;
    border:none;
    color: $link-color;
    width:22px;
    position:static;
    &:hover,&:active{
      color: $theme-color;
    }
  }
  .owl-controls{
    top:-68px;
    width: 100px;
    @include rtl-right($theme-margin / 2);
    @include translateY(0px);
    @include rtl-text-align-right();
  }
}
.owl-carousel-top-full{
  .owl-carousel{
    .owl-controls .owl-nav .owl-next,
    .owl-controls .owl-nav .owl-prev{
      @include opacity(0.8);
      background: #fff;
      border:none;
      color: #111;
      &:hover,&:active{
        background: #fff;
        color: #111;
        @include opacity(1);
      }
    }
    .owl-controls{
      top:-108px;
      @include translateY(0px);
    }
  }
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  margin-right:-($theme-margin / 2);
  margin-left:-($theme-margin / 2);
  cursor: pointer;
  width: calc(100% + 30px) !important;
  &:hover{
  	.owl-controls .owl-nav .owl-prev,
  	.owl-controls .owl-nav .owl-next{
  		@include opacity(1);
  	}
  }
}
.owl-controls{
  .owl-dots{
    text-align: center;
    .owl-dot{
      @include size(15px,15px);
      text-align: center;
      border:none;
      display: inline-block;
      @include border-radius(50%);
      margin: 0 4px;
      background:#f2f2f2;
      &.hover,&.active{
        border-color:$theme-color;
        background: $theme-color;
      }
    }
  }
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls{
	position: absolute;
    top: 50%;
    width: 100%;
    @include translateY(-50%);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next{
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  @include size(40px,40px);
  @include border-radius(50%);
  @include opacity(0);
  background: #ffffff;
  color: #111;
  border:1px solid $border-color;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  @include transition(all 0.3s ease);
  position: absolute;
  @include translateY(-50%);
  top:50%;
  left:15px;
  z-index: 99;
  &:hover{
    border-color:$theme-color;
    background: $theme-color;
    color: #fff;
  }
}
.owl-carousel .owl-controls .owl-nav .owl-next{
  left:inherit;
  right: 15px;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right:$theme-padding / 2;
  padding-left:$theme-padding / 2;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
//wpb_gmaps_widget
.wpb_gmaps_widget.wpb_content_element{
  margin:0 ;
}
// widget-social
.widget-social{
  .social{
    margin:0;
    > li{
      padding:0;
      @include rtl-margin-left(12px);
      &:first-child{
        @include rtl-margin-left(0px);
      }
      a{
        display: inline-block;
        @include size(55px,55px);
        border:1px solid $border-color;
        @include border-radius(50%);
        text-align: center;
        font-size: 22px;
        line-height: 53px;
        &:hover{
          color: $theme-color;
        }
      }
    }
  }
  .desc{
    margin: 0 0 15px;
  }
  &.style1{
    text-align: center;
    .social > li{
      margin: 0;
      a{
        border:none;
        @include size(auto,auto);
        padding: 0 13px;
        line-height: 1;
      }
    }
  }
}
//social-link
.social-link{
  display: inline-block;
  margin: 0 5px;
  padding:0;
  li{
    display: inline-block;
    margin: 0 5px;
    a{
      background: #f4f4f4 none repeat scroll 0 0;
      border-radius: 100%;
      color: $text-color;
      display: inline-block;
      height: 40px;
      line-height: 38px;
      text-align: center;
      width: 40px;
      border:1px solid $border-color;
    }
  }
  &.lighten{
    li a{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}
// ourteam-inner
.ourteam-inner{
    .name-team{
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
    }
    .job{
      font-size: 14px;
      font-weight: 400;
      margin:0;
    }
    .avarta{
      &:before{
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        content: "";
        height: 100%;
        @include opacity(0);
        position: absolute;
        @include transition(all 0.2s ease-in-out 0s);
        width: 100%;
        z-index: 1;
      }
      overflow: hidden;
      position: relative;
      .social-link{
        bottom: 0;
        left: 0;
        margin: 0;
        position: absolute;
        text-align: center;
        @include transition(all 0.2s ease-in-out 0s);
        visibility: hidden;
        width: 100%;
        z-index: 9;
      }
    } 
    &:hover{
      .avarta:before{
         @include opacity(1);
      }
      .avarta .social-link{
        bottom: 60px;
        visibility: visible;
      }
    }
    .info{
      padding: 20px;
    }
}

// .widget-gallery
.widget-gallery{
  .image{
    margin: 0 10px 10px 0;
  }
  .fancybox{
     position: relative;
     display: inline-block;
    &:before{
      background: rgba(0, 0, 0, 0.8) url("#{$image-theme-path}plus.png") no-repeat scroll center center;
      content: "";
      height: 100%;
      left: 0;
      @include opacity(0);
      position: absolute;
      top: 0;
      @include transition( all 0.2s ease-in-out 0s);
      width: 100%;
      z-index: 9;
    }
    &:hover{
      &:before{
          @include opacity(1);
      }
    }
  }
  .heading{
    line-height: 1;
    padding:60px 0;
  }
  .description,
  .heading{
    h3{
      margin:0;
      font-size: 36px;
      line-height: 1.1;
      font-weight: 700;
      text-transform: uppercase;
      &.title-des{
          margin:8px 0 0;
      }
    }
  }

  .fancybox{
    display: block;
    max-height: 292px;
    overflow: hidden;
  }
  &.style1{
    .image{
      margin: 0 5px 5px 0;
    }
  }
}
//testimonials
.widget-testimonials{
  max-width: 800px;
  margin: auto;
  .widget-content{
    text-align: center;
  }
  .testimonial-avatar{
    display: inline-block;
    position:relative;
    .image-wrapper{
      position:relative;
      @include border-radius(50%);
      overflow: hidden;
      @include size(130px,130px);
    }
    i{
      position:absolute;
      display: inline-block;
      @include border-radius(50%);
      @include size(54px,54px);
      border:5px solid #fff;
      background:$theme-color;
      color: #fff;
      line-height: 44px;
      text-align: center;
      top:110%;
      left: 50%;
      @include translate(-50%,-50%);
      z-index: 1;
    }
  }
  .description{
    margin: 45px 0 25px;
  }
  .name-client{
    font-size: 18px;
    margin: 0;
    span{
      font-weight: 300;
    }
  }
  .slick-dots{
    margin: 50px 0 0;
  }
  .slick-prev, .slick-next{
    top:20%;
  }
  &.top-carousel{
   .slick-prev, .slick-next{
        margin: 0;
        top:-88px;
        border:none;
        width:auto;
        background:#fff !important;
        color: $link-color;
        padding:0 5px;
        &:hover,&:active{
            &:before{
                color: $theme-color;
            }
        }
    }
    .slick-prev{
        left: inherit;
        right: 30px;
    } 
  }
  &.style1{
    .testimonials-body{
      padding-top:65px;
    }
    .description{
      font-style: italic;
      margin: 20px 0 25px;
    }
    .testimonials-profile{
      border:1px solid $border-color;
      padding:110px 30px 50px;
      position:relative;
    }
    .testimonial-avatar{
      position:absolute;
      top: 0;
      left: 50%;
      @include translate(-50%,-50%);
    }
  }
}
// section-contact
.section-contact{
  font-size: 16px;
  position: relative;
  textarea ,
  input:not(.btn) {
    width: 100%;
    max-width: 100%;
    background: #f2f2f2;
    border:1px solid #f2f2f2;
    margin: 0 0 20px;
    padding: 10px 28px;
    font-size: 14px;
    @include transition(all 0.3s ease-in-out 0s);
    &:active, &:focus{
      background : transparent;
      color: #515151;
    }
  }
  .title-contact{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-family-serif;
    color: #111111;
  }
  
  textarea{
    max-height: 230px;
    margin:0;
  }
  p{
    margin: 0;
  }
  .title{
     font-size: 30px;
     margin:0 0 30px;
  }
  input.btn{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 52px;
    margin-top: 5px;
    background: #111111;
    color: #ffffff;
    position: absolute;
    width: 100%;
  }
  
}
// apus video
.video-wrapper-inner{
  position:relative;
  .fancybox-video{
    position:relative;
    display:block;
    margin:20px 0 0;
    .fa{
      border: 2px solid #ffffff;
      border-radius: 50%;
      bottom: 0;
      color: #ffffff;
      font-size: 28px;
      height: 80px;
      left: 0;
      line-height: 76px;
      margin: auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      @include transition(all 0.3s ease-in-out 0s);
      width: 80px;
      z-index: 9;
    }
    &:hover{
      .fa{
        @include scale(0.8);
      }
    }
  }
  .title-video{
    color:#fff;
    font-size:28px;
    padding:0 45px;
    background:#17181a;
    position:relative;
    z-index:99;
    display:inline-block;
    margin:0 0 10px;
    text-transform:uppercase;
  }
  .description{
    color:#8c8c8c;
  }
  .video{
    padding-bottom:0;
  }
  .video-content{
    left: 80px;
    margin: -48px 0 0;
    position: absolute;
    top: 100%;
    .description{
      padding:0 45px;
      margin:0;
    }
  }
}
.widget-video.style1{
  margin:0;
  .video-wrapper-inner:before{
    display: none;
  }
  .video{
    padding:0;
  }
  .fancybox-video{
    margin:0;
  }
}
//widget-infor
.widget-infor{
  .infor-inner{
    margin: 0 0 15px;
     .heding{
        font-weight: 400;
     } 
  }
}


// widget feature
.widget-features-box{
  &.default{
    .ourservice-heading{
      font-size: 22px;
      font-weight: 600;
      color: $headings-color;
      margin: 8px 0 0;
    }
    i{
      font-size: 24px;
    }
    .image-wrapper{
      @include transition(all 0.2s ease-in-out 0s);
      img{
        max-width: 60px;
        min-height: 44px;
      }
      + .image-wrapper{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include opacity(0);
      }
    }
    .feature-box{
      padding:40px $theme-margin;
      border:1px solid $border-color;
      @include transition(all 0.2s ease-in-out 0s);
      text-align: center;
      position:relative;
      margin: -1px 0 0 -1px;
      &:hover{
        z-index: 99;
        border-color:$theme-color;
        background: $theme-color;
        .ourservice-heading{
          color: #fff;
        }
        .inner .image-wrapper + .image-wrapper{
          @include opacity(1);
        }
      }
    }
    .inner{
      position: relative;
    }
  }
  &.style_1{
    .fbox-top{
      width: 110px;
      @include rtl-float-left();
    }
    .inner{
      @include size(80px,80px);
      @include border-radius(50%);
      border:2px solid $theme-color;
      background:transparent;
      @include transition(all 0.2s ease-in-out 0s);
      line-height: 74px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      color: #fff;
    }
    .fbox-content{
      overflow: hidden;
    }
    .feature-box{
      margin: 0 0 75px;
      &:last-child{
        margin: 0;
      }
      &:hover{
        .inner{
          background:$theme-color;
        }
      }
    }
    .ourservice-heading{
      font-size: 22px;
      margin: 0 0 10px;
      color: #fff;
    }
    .description{
      font-size: 16px;
      margin: 0;
    }
  }
}
// kc feature fox
.kc-feature-boxes{
  &.kc-fb-layout-3 .box-right{
    @include rtl-padding-left(15px);
  }
}
// banner-countdown-widget
.banner-countdown-widget{
  &.default{
    h5{
      font-size:13px;
      font-family: $font-family-second ;
      margin: 0;
      letter-spacing: 2px;
    }
    h3{
      font-size: 25px;
      margin: 0 0 10px;
      letter-spacing: 2px;
    }
    .des{
      font-size: 15px;
      color: $link-color;
      margin: 0 0 25px;
    }
  }
}

.countdown-wrapper-default .times{
  > div{
    line-height: 1;
    @include rtl-margin-right(8px);
    font-size: 12px;
    font-family: $headings-font-family;
    font-weight: 400;
    padding: 8px 15px;
    background:$theme-color;
    color: #fff;
    display: inline-block;
    text-align: center;
    span{
      font-size: 18px;
      font-weight: 700;
      display: block;
      margin: 0 0 4px;
    }
  }
}
// widget localtion
.widget-location{
  .media-heading{
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 5px;
  }
  .media-left{
    font-size: 22px;
    min-width: 45px;
  }
  .media{
    font-size: 15px;
    margin: 0 0 25px;
  }
}
//feature-banner
.feature-banner-inner{
  text-align: center;
  overflow: hidden;
  color: #fff;
  .widget-title{
    color: #fff;
    font-size: 25px;
  }
  @media (min-width:480px){
    &.col-lg-cus-5{
      width: 20%;
      @include rtl-float-left();
    }
  }
  .banner-static{
    position: relative;
    .widget-title{
      position: absolute;
      top:50%;
      left: 0;
      width: 100%;
      @include translateY(-50%);
    }
  }
  .banner-body{
    background: #00a1f1 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 15px;
    height: 100%;
    left: 0;
    @include opacity(0);
    position: absolute;
    text-align: center;
    top: 100%;
    @include transition(all 0.3s ease-in-out 0s);
    width: 100%;
    z-index: 1;
    .widget-title{
      margin: 0 0 45px;
      position: relative;
      &:before{
        background: #ffffff none repeat scroll 0 0;
        bottom: -22px;
        content: "";
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 52px;
      }
    }
    .description{
       margin: 0 0 35px;
    }
    a{
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      .fa{
        @include rtl-margin-left(8px);
      }
    }
  }
  .content{
    left: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }
  &:hover{
    .banner-body{
      @include opacity(1);
      top: 0;
    }
  }
}
// .widget-contactform
.widget-contactform{
  .control{
    font-size: 13px;
    padding:10px 30px;
    max-width: 100%;
    width: 100%;
    margin:0 0 30px;
    border:1px solid $border-color;
  }
  textarea.control{
    margin:0 0 $theme-margin;
  }
  .des{
    max-width: 760px;
    margin: 0 auto;
  }
}
//widget-brands
.widget-brands{
  .slick-slide img{
    display: inline-block;
  }
  .widget-content{
    border:1px solid $border-color;
  }
  .widget-title{
    margin:0 0 60px !important; 
    &:before{
      background:$border-color !important;
    }
  }
  .item-column{
    border-right:1px solid $border-color;
  }
  .item{
    text-align: center;
    border-bottom:1px solid $border-color;
    line-height: 120px;
    padding:0 10px;
    @include opacity(0.5);
    @include transition(all 0.2s ease-in-out 0s);
    &:hover{
      @include opacity(1);
    }
  }
  .item-column:nth-child(2n){
    .item:nth-child(2n+1){
      background: #fbfbfb;
    }
  }
  .item-column:nth-child(2n+1){
    .item:nth-child(2n){
      background: #fbfbfb;
    }
  }
  .slick-prev, .slick-next{
      margin: 0;
      top:-120px;
  }
  .slick-prev{
      @include rtl-left(inherit);
      @include rtl-right(50px);
  }
}
//result_twitter_feed
.kc_wrap_twitter.kc_twitter_style-2 {
  .result_twitter_feed{
    height: auto;
    border:none;
    color: #fff;
    a{
      color: #111111;
    }
  }
}
// widget timeline
.service-timeline {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    @media(min-width:992px){
      padding:0 100px;
    }
    .date{
      color: #fff;
      font-size: 14px;
      padding: 2px 15px;
      background: $theme-color;
      display: inline-block;
      @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
      @media(min-width:992px){
        @include translateY(-17px);
      }
    }
    .hentry {
      position: relative;
    }
    @media(min-width:992px){
      &:before {
        background: $border-color;
        content: "";
        left: 50%;
        top: 60px;
        bottom: 0;
        position: absolute;
        width: 1px;
        margin-left: -1px;
        height: 82%;
        @media(max-width: $screen-sm-max){
          display: none;
        }
      }
    }
    > li {
        display: block;
        width:100%;
        position: relative;
        padding-top: 25px;
        .hentry{
          width: 50%;
        }
        @media(max-width:991px){
          .hentry{
            width: 100%;
            float: left;
            clear: left;
          }  
        }
        &:nth-child(odd) {
            .hentry {
              @media(min-width:992px){
                padding-right:55px;
              }
              float: left;
              clear: left;
            }
        }
        &:nth-child(even) {
            .hentry {
              @media(min-width:992px){
                padding-left:55px;
                &:before{
                  right:inherit;
                  left: -8px;
                }
              }
              float: right;
              clear: right;
              .hentry-box{
                @media(min-width:992px){
                  &:before{
                    left:inherit;
                    right: 100%;
                    @include rotate(180deg);
                  }
                }
              }
            }
        }
        .hentry {
          position: relative;
          @media(min-width:992px){
            &:before{
              content: '';
              @include size(18px,18px);
              border:3px solid #fff;
              @include border-radius(50%);
              background: $border-color;
              position: absolute;
              top:35px;
              right:-8px;
              @include box-shadow(0 0 0 3px $border-color);
            }
          }
          .hentry-box{
            position: relative;
            @media(min-width:992px){
              &:before{
                content: '';
                @include size(28px,20px);
                border-style: solid;
                border-width: 10px 14px;
                border-color: transparent transparent transparent #f8f8f8;
                position: absolute;
                top:35px;
                left: 100%;
              }
            }
          }
          .title{
            font-size: 16px;
            font-weight: 700;
            margin:0 0 5px;
            color: $black;
            text-transform: uppercase;
          }
          .content{
            font-size: 14px;
          }
          .content-inner{
            padding:0 30px 50px 30px;
            background: #f8f8f8;
            color: #777777;
          }
        }
    }
}
// contact
.widget-contact{
  p{
    margin: 0 0 5px;
  }
  i{
    @include rtl-margin-right(7px);
  }
}
.opa-80{
  @include transition(all 0.3s ease-in-out 0s);
  &:hover,&:active{
    @include opacity(0.8);
  }
}
.grid-style-2{
  > .row{
    margin:0;
    > [class *="col-"]{
      padding: 0;
    }
  }
}
.no-space{
  margin:0 !important;
  >.apus-container{
    > .vc_fluid{
      padding:0;
    }
  }
  .row{
    margin:0;
    > [class *= "col"]{
      padding: 0;
    }
  }
}
.font-size-36{
  font-size: 36px !important;
}
.font-size-30{
  font-size: 30px !important;
}
.space-top-40{
  margin-top: 40px !important;
}
.space-top-20{
  margin-top: 20px !important;
}
.space-10{
  margin-bottom:10px !important;
}
.space-15{
  margin-bottom:15px !important;
}
.space-25{
  margin-bottom:25px !important;
}
.space-30{
  margin-bottom:30px !important;
}
.space-50{
  margin-bottom:50px !important;
}
.space-padding-35{
    padding:35px 0 !important;
}
.space-padding-tb-90{
  padding-top:90px !important;
  padding-bottom: 90px !important;
}
.space-padding-tb-55{
  padding-top:55px !important;
  padding-bottom: 55px !important;
}
.space-padding-lr-100{
  padding-left:100px !important;
  padding-right: 100px !important;
}
.p-relative{
  position: relative !important;
}
.p-absolute{
  position: absolute !important;
}
.p-static{
  position: static !important;
}
.hr{
  border-top:1px solid $border-color;
  min-height: 1px;
  width: 100%;
}
.text-theme{
  color: $theme-color !important;
}
.text-pink{
  color: #f55454 !important;
}
.second-color{
  color: $theme-color-second !important;
}
.bg-theme{
  background: $theme-color;
}
.border-theme{
  border-color: $theme-color;
}
.wpb_single_image{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    z-index: 2;
    @include transition(all 0.2s ease-in-out 0s);
    content: '';
    @include size(100%,100%);
    background: $theme-color;
    @include opacity(0);
    top: 0;
    left: 0;
  }
  &:after{
    position: absolute;
    @include transition(all 0.3s ease-in-out 0s);
    content: '';
    top: $theme-margin;
    left: $theme-margin;
    right: $theme-margin;
    bottom: $theme-margin;
    border:1px solid #fff;
    z-index: 3;
    @include scale(0);
  }
  &:hover{
    &:before{
      @include opacity(0.5);
    }
    &:after{
      @include scale(1);
    }
  }
}
.table-fix >[class*="col-"]{
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}

.ui-tabs{
  .kc_accordion_wrapper{
    margin: 0;
  }
  .kc_accordion_section.group {
    padding: 0;
    &:first-child{
      .kc_accordion_header{
        border-top:none; 
      }
    }
    .kc_accordion_header{
      border-right: 0;
      border-left: 0;
      border-color:  #f2f2f2;
      > a{
         font-size: 18px;
         font-weight: 700;
         padding: 15px 20px;
         color: #999999;
         &:hover,&:active{
          color: $link-color;
         }
      }
      &.ui-state-active{
        border-color: #fff;
        > a{
          color: $theme-color-second;
        }
      }
    }
  }
  .kc_accordion_content{
    border-right: 0;
    border-left: 0;
  }
  .kc_accordion_wrapper .kc_accordion_section.kc-section-active{
    .kc_accordion_header{
      background: #f2f2f2;
      border-bottom: none;
      > a{
        color: $theme-color-second;
      }
    }
    .kc_accordion_content{
      background: #f2f2f2;
      border-bottom: 0;
      .kc-panel-body{
        padding:0 30px 30px; 
      }
    }
  }
}
// kc-tabs slide
.kc-tabs-slider{
  .owl-carousel {
    .owl-item{
      padding: 0;
    }
    .owl-controls{
      bottom: 25px;
      top: inherit;
      @include translateY(0);
    }
    .owl-dots{
      @include rtl-text-align-left();
      margin: auto;
      max-width: 1170px;
      padding: 0 8px;
    }
  }
}
.kc-carousel-image{
  overflow: hidden;
  background:#fff;
  width:calc(100% + 1px) !important;
  margin-left: -0.5px;
  margin-right: -0.5px;
  .item-grid{
    padding-right:0.5px;
    padding-left:0.5px;
    margin: 0 0 1px;
  }
  &.layout2{
    width:calc(100% + 30px) !important;
    margin-left: -15px;
    margin-right: -15px;
    .item-grid{
      padding-right:15px;
      padding-left:15px;
      margin: 0 0 30px;
    }
  }
  .kc-pretty-photo{
    display: block;
    position:relative;
    &:before{
      content: '';
      @include size(100%,100%);
      background:rgba(0,0,0,0.8);
      @include opacity(0);
      position:absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include transition(all 0.2s ease-in-out 0s);
    }
    &:hover,&:active{
      &:before{
        @include opacity(1);
      }
    }
  }
}
// result_twitter_feed
.kc_twitter_feed.kc_twitter_style-2{
  .tweet_user{
    @include rtl-float-left();
    width:150px;
    margin: 0 !important;
    padding:35px 0;
  }
  .kc-tweet-owl{
    width:calc(100% - 150px) !important;
    @include rtl-float-right();
    margin:0 ;
    padding:12px 0;
  }
  .owl-carousel .owl-controls{
    position:static;
    @include transform(none);
    margin: 0;
  }
  .owl-theme .owl-controls .owl-buttons div{
    @include rtl-left(inherit);
    @include rtl-right(0);
    margin: 0;
    top: 0;
    background:#fff;
    @include opacity(1);
    padding:0;
    text-align: center;
    overflow: hidden;
    &:before{
      width:38px;
      display: inline-block;
      background:#fff;
      @include border-radius(50%);
    }
    &:hover,&:active{
      &:before{
        color: $theme-color;
      }
    }
    &.owl-next{
      top:50px;
    }
  }
  .result_twitter_feed{
    overflow: hidden;
  }
}
.kc_twitter_feed.kc_twitter_style-2 .tweet_desc,
.kc_twitter_feed .owl-item{
  text-align: inherit !important;
}
.kc_tabs{
  .kc_tabs_nav ~ .kc_tab.ui-tabs-body-active{
    background: #fff;
    .kc_tab_content{
      padding:45px 0;
      overflow: hidden;
    }
  }
}
.kc_tabs > .kc_wrapper > .kc_tabs_nav{
  display: table;
  background:#fff !important;
  @include rtl-border-left(1px solid $border-color);
  border-top:1px solid $border-color !important;
  border-bottom:1px solid $border-color !important;
  li{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    padding:45px 0;
    float:none;
    @include rtl-border-right(1px solid $border-color);
    @include transition(all 0.2s ease-in-out 0s);
    &:hover,&:active,&.ui-tabs-active{
      background:#fff;
      @include box-shadow(0 0 0 2px $theme-color inset);
    }
    a{
      font-size:22px;
      font-weight: 600;
      font-family: $font-family-second;
      color: $link-color !important;
      background: transparent !important;
    }
    &:nth-child(2n){
      background:#fbfbfb !important;
    }
  }
}
