/*------------------------------------*\
    Topbar
\*------------------------------------*/
.#{$app-prefix}-topbar{
    padding:$topbar-padding;
    background: $topbar-bg;
    color: $topbar-color;
    font-family: $font-family-sans-serif;
    @include font-size(font-size, $topbar-font-size);
    line-height: 1;
    a{
        color: $topbar-link-color;
        &:hover{
            color: $topbar-link-hover-color;
        }
    } 
    .menu-topbar{
        list-style: none;
        margin: 0;
        padding:0;
        li{
            display:inline-block;
            line-height: 1;
            a{
                display: inline-block;
            }
            + li{
                @include rtl-margin-left(18px);
                a{
                    @include rtl-border-left(1px solid $topbar-link-color);
                    @include rtl-padding-left(18px);
                }
            }
        }
    }
    .widget_apus_socials_widget{
        .title{
            color: $topbar-color;
        }
    }
}
/*------------------------------------*\
    apus-topbar
\*------------------------------------*/
.apus-topbar{
    .widget{
        margin: 0;
    }
}
/*------------------------------------*\
    Header
\*------------------------------------*/
// header mobile
.header-mobile{
    padding: 8px 0;
    width: 100%;
    background: #212121;
    border-bottom:1px solid rgba(255,255,255,0.1);
    z-index: 99;
    @include transition(all 0.5s ease 0s);
    .container{
        padding: 0px;
    }
    .btn.dropdown-toggle,
    .btn.offcanvas{
        border:none;
        padding: 0px 18px;
        font-size: 16px;
        color: #fff;
        display: block;
        background: transparent;
        &:hover,&:active,&:focus{
            color: #fff;
            background: transparent;
        }
        i{
            @include rtl-margin-left(5px);
        }
    }
    .apus-search-form{
        min-width: 300px;
        .select-category{
          display: none;
        }
    }
    .action-right{
        margin: 13px 0 0; 
    }
}
.sticky-header{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    @include box-shadow(0 -2px 12px 0 rgba(0,0,0,0.2));
    padding:0;
    @include transition(all 0.2s ease-in-out 0s);
    &.sticky-header-hidden{
        @include translateY(-110%);
    }
    .header-main{
        background: #fff;
    }
}
.transparent-header{
    .header-default{
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right:0;
        margin:auto;
        max-width: 1200px;
        background: transparent !important;
    }
}
.#{$app-prefix}-header{
    margin: 0;
    padding:0;
    z-index: 99;
    position: relative;
    width: 100%;
    @include transition(all 0.8s ease 0s);
    .widget{
        margin: 0;
    }
    // Menu Fixed
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-large-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all 0.8s ease 0s);
    }
}
.header-default{
    background: #212121;
    padding:18px 0;
    border-bottom:1px solid rgba(255,255,255,0.1);
    .header-inner{
        position: relative;
        padding: 10px 0;
        @include transition(all 0.3s ease-in-out 0s);
    }
    .sticky-header{
        .header-main{
          background: $theme-color-second;  
        }
    }
    // menu
    .apus-megamenu{
        position: static;
    }
    .navbar-nav.megamenu > li{
        > a{
            color: #fff;
        }
        &:hover,&.active,&.open{
            > a{
                color: $theme-color;
            }
        }
    }
    .heading-right{
        margin: 22px 0 0;
    }
    .header-setting{
        .button-setting,
        .mini-cart{
            color: #fff;
        }
    }
    //search
    .dropdown-search{
        .dropdown-menu{
            padding:0;
            margin:0; 
            .search-form{
                min-width: 250px;
            }
        }
    }
}
.header-menu{
    border-top:1px solid $border-color;
    .apus-megamenu{
        padding:0;
        border:none;
    }
    .navbar-nav.megamenu > li {
        position:relative;
        &:before{
            @include size(1px,15px);
            background:$border-color;
            content: '';
            @include rtl-left(100%);
            @include translateY(-50%);
            top:50%;
            position:absolute;
        }
        > a{
            position:relative;
            font-family: $font-family-second;
            font-size:16px;
            font-weight: 400;
            text-transform:uppercase;
            &:before{
                content: '';
                position:absolute;
                top:-1px;
                left: 0;
                @include size(100%,2px);
                @include transition(all 0.2s ease-in-out 0s);
                background:$theme-color;
                @include opacity(0);
            }
        }
        &.active,
        &:hover,
        &.open{
            > a:before{
                @include opacity(1);
            }
        }
        + li{
            @include rtl-margin-left(30px);
        }
    }
    //search
    .search-form{
        width:310px;
        input,.btn{
            height: 70px;
            border-top:0;
        }
        .btn{
            @include rtl-border-right(0);
        }
        .form-control{
            background: transparent;
        }
    }
}
.header-top{
    padding:38px 0;
    .widget_apus_contact_info{
        margin: 5px 0 0;
    }
}
/*------------------------------------*\
    Breadcrumb
\*------------------------------------*/
.#{$app-prefix}-breadcrumb{
    @include box-size($breadcrumb-layout-bg, $breadcrumb-padding-top, $breadcrumb-padding-bottom);
    @include border-radius(0);
    margin: $breadcrumb-margin;
    text-align: $breadcrumb-alignment;
    font-size: $breadcrumb-font-size ;
    .breadcrumb-title{
        color: $breadcrumb-color;
        margin: 0;
        font-weight: $breadcrumb-title-font-weight;
        @include font-size(font-size, $breadcrumb-title-font-size);
    }
    nav{
        @include rtl-text-align-left();
        line-height: $breadcrumb-line-height;
        a{
            color: $breadcrumb-link-color;
        } 
    }
}

/*------------------------------------*\
    Container
\*------------------------------------*/
.#{$app-prefix}-mainbody{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
}
/*------------------------------------*\
    Content
\*------------------------------------*/
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}

/*------------------------------------*\
    Pagination
\*------------------------------------*/
.#{$app-prefix}-pagination{
    font-weight: 700;
    font-family: $font-family-sans-serif;
    padding: 20px 0;
    ul.page-numbers{
        margin: 0;
        padding:0;
        list-style: none;
        li{
            display: inline-block;
        }
    }
    span,a{
        padding: 5px 15px;
        display: inline-block;
        margin: 0 4px;
        border:1px solid $border-color;
        background: #fbfbfb;
        color: $link-color;
        @include border-radius(25px);
        &.current{
            color: #fff !important;
            background:$theme-color;
            border-color:$theme-color;
        }
    }
    a{
        color: $link-color;
        cursor: pointer;
        &:hover{
            color: #fff !important;
            background:$theme-color;
            border-color:$theme-color;
        }
    }
}
.layout-blog{
    @media(min-width:1024px){
        .#{$app-prefix}-pagination{
            padding:0 120px;
        }
        &.left-main{
            padding-left:30px;
        }
        &.main-right{
            padding-right:30px;
        }
        &.left-main-right{
            padding-left:30px;
            padding-right:30px;
        }
    }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/
.#{$app-prefix}-footer{
    padding:0;
    position: relative;
    color: $footer-color;
    font-size: $footer-font-size;
    background: $footer-bg;
    a{
        color: $footer-link-color;
        &:hover,
        &:focus,
        &:active{
            color: $footer-link-hover-color;
        }
    }
} 
.menu-colums{
    width: 100%;
    overflow: hidden;
    .menu{
        @include content-columns(6,30px);
        width: 100%; 
    }
    li{
        text-align: center;
    }
}
/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    a{
        &:hover,
        &:focus,
        &:active{
            color: $copyright-link-hover-color;
        }
        color: $copyright-link-color;
    }
}
/*------------------------------------*\
    Top bar
\*------------------------------------*/
.apus-offcanvas {
    .apus-offcanvas-body{
        position: relative;
    }
    visibility:hidden;
    @include opacity(0);
    @include translateX(-100%);
    @include transition(all 0.2s  ease-in-out 0s);
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    min-width:300px;
    width: 70%;
    background: #fff;
    height: 100%;
    overflow-y: scroll;
}
.wrapper-container.active{
    .apus-offcanvas{
        @include translateX(0);
        @include opacity(1);
        visibility:visible;
        @include box-shadow(2px 0 5px 0 rgba(0,0,0,0.3));
        z-index: 100;
    }
}
//custum padding
.none-padding{
    [class*="kc_col-"]{
        padding: 0px;
    }
    [class*="col-"]{
        padding: 0px;
    }
}
//dot slider
.hesperiden.tp-bullets{
    .tp-bullet{
        @include size(12px, 12px);
        background: transparent;
        border: 2px solid #ffffff;
        margin: 0 8px;
        &.selected{
            background: #ffffff;
        }
    }
}