/*
* General Post Style using for all with naming class entry
*/
.entry-title{
   	font-size: 22px;
   	font-family: $font-family-second;
    margin: 0 0 8px;
    font-weight: 700;
}
.layout-title{
	font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px;
    text-transform: inherit;
}
.entry-create{
	font-size: 13px;
	margin: 0 0 15px;
	> *{
		@include rtl-margin-right(2px);
	}
	.author{
		font-style: italic;
		text-transform: capitalize;
	}
}
.entry-category{
	margin:0 0 10px;
	a{
		color: $theme-color;
		font-style:italic;
	}
}
.entry-link{
	margin-top: 20px;
	.readmore {
		color: $theme-color;
		text-transform: capitalize;
		&:hover{
			color: $theme-color-second;
		}
	}
}
.entry-meta{
	margin:0;
	i{
		@include rtl-margin-right(8px);
	}
}
.post-style2{
	padding:35px 40px;
	border:1px solid $border-color;
	.date{
		position:relative;
		padding:0 0 33px;
		margin:0 0 30px;
		&:before,&:after{
	        content: '';
	        background:$border-color;
	        @include size(100%,1px);
	        position: absolute;
	        bottom:0;
	        @include rtl-left(0);
	        z-index: 1;
	    }
	    &:after{
	    	background:$theme-color;
	    	z-index: 2;
	    	@include size(60px,1px);
	    }
	}
}
.post-style1{
	position:relative;
	margin:0;
	.entry-category{
		position:absolute;
		top:30px;
		width: 100%;
		left: 0;
		padding:0 40px;
		z-index: 2;
	}
	.entry-meta{
		position:absolute;
		bottom:30px;
		left: 0;
		width: 100%;
		z-index: 2;
		padding:0 40px;
		.entry-title a,
		.date a{
			color: #fff;
		}
		.entry-title{
			margin: 18px 0;
			text-transform: uppercase;
		}
	}
	&:hover{
		.bt-contact{
			color: #fff;
		}
		.post-thumbnail:before{
			background: rgba(0,0,0,0.7);
		}
	}
	.post-thumbnail{
		position:relative;
		display: block;
		&:before{
			@include transition(all 0.2s ease 0s);
			position:absolute;
			content: '';
			@include size(100%,100%);
			background: rgba(0,0,0,0.5);
			top:0;
			left: 0;
			z-index: 1;
		}
	}
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.type-post{
	margin-bottom:40px;
}
.blog-title{
	margin-bottom: $theme-margin;
}
.entry-tags-list{
	strong{
		display: none;
	}
	a{
		@include rtl-margin-right(8px);
		font-size: 14px;
		color: $link-color;
		display: inline-block;
		padding: 7px 18px;
		background: #f7f7f7;
		&:hover{
			color: #ffffff;
			background: $brand-primary;
		}
	}
}
// navigation
.comment-navigation{
  overflow: hidden;
  padding: 20px 0;
  .nav-links{
    > div{
      display: inline-block;
      + div{
        line-height: 1.1;
        @include rtl-margin-left($theme-margin / 2);
        @include rtl-padding-left($theme-margin / 2);
        @include rtl-border-left(2px solid $border-color);
      }
    }
  }
}
#commentform{
	.form-group{
		margin: 0px;
	}
	.h-info{
		font-size: 18px;
		margin:0 0 20px;
	}
	.input-title{
		font-size: 18px;
		font-weight: 700;
		margin: 0;
		color: #616161;
	}
	textarea{
		height: 90px;
		margin: 0 0 40px;
		resize: none;
	}
	.form-control, textarea{
		@include border-radius(0);
		border:1px solid $border-color;
	    color: $text-color;
	    padding: 12px 20px;
	    margin-bottom: $theme-margin;
		&:active, &:focus{
			border-color:$theme-color;
		}
	}
}

/*
* using for new, magazine
*/
.post-specail{
	background: #f5f5f5 ;
	.entry-content{
		background: transparent;
	}
	.entry-title{
		font-size: 16px;
	}
	.entry-date{
		font-style: italic;
	}
	.entry-create{
		margin: 0 0 18px;
	}
}
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	@include rtl-right($entry-meta-position);
}
/** Post blog style **/
.blog{
	&.style1 .blog-date{
		top: 0;
		position: absolute;
		@include rtl-right(0);
	}
	&.style2 {
		border: 1px solid $border-color;
		.blog-date{
	  		@include rtl-float-left();
	  		@include rtl-margin(-1px,$theme-margin,0px,0px);
	  	}
	  	.entry-title{
	  		@include rtl-padding-left(65px);
	  		@include rtl-padding-right(20px);
		}
	  	.entry-description{
	  		@include rtl-padding-left(65px);
	  		@include rtl-padding-right(20px);
	  	}
		.entry-content{
			@include clearfix();
			border: 0px;
			margin-bottom: 20px;
		}
	}
	.blog-date{
		display: table;
		background: $blog-date-bg;
		text-align: $align-center;
		color: $blog-date-color;
		text-transform: $blog-date-transform;
		@include font-size(font-size,$blog-date-font-size);
		font-weight: $blog-date-font-weight;
		@include size($blog-date-size,$blog-date-size);
		line-height: normal;
		.blog-date-inner{
			display: table-cell;
			vertical-align: middle;
		}
		span{
			display: block;
			margin: 2px 0 3px 0;
			line-height:$blog-date-number-line-height;
			@include font-size(font-size,$blog-date-font-size-number);
			font-weight: $blog-date-font-weight-number;
		}
	}
	.blog-date--grids{
		position: absolute;
		top: 0;
		@include rtl-right(15px);
	}
	.entry-content--info{
		overflow: hidden;
		padding: $theme-margin 0;
	}
}
// post-style-shipping
.post-style-shipping{
	margin-bottom:80px !important;
	.entry-content{
		margin-top: 25px;
	}
	.entry-title{
		font-size: 22px;
	    margin: 0 0 30px;
	    padding:0 0 22px;
	    position:relative;
	    text-transform: uppercase;
	    span{
	    	color: $theme-color;
	    }
	    &:before,&:after{
	      content: '';
	      position:absolute;
	      bottom:0;
	      z-index: 1;
	      @include rtl-left(0);
	      @include size(100%,1px);
	      background:#f2f2f2;
	    }
	    &:before{
	      @include size(60px,1px);
	      background:$theme-color;
	      z-index: 9;
	    }
	}
}
/* Post type: Grid */
.entry-image{
	display: block;
}
.layout-blog{
	.post-gallery-owl{
		.owl-controls{
			height: 100%;
			.owl-dots{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
		.owl-stage-outer{
			text-align: center;
		}
	}
	article {
		margin-bottom: 30px;
	    overflow: hidden;
	    background: #ffffff;
	}
	.post-thumbnail{
		display: block;
	}
	.chess-item{
		background: #ffffff;
	}
	.entry-thumb {
		position: relative;
		.category{
			margin-top: 25px;
			display: inline-block;
		    a{
			    color: $text-color;
			    font-size: 11px;
			    font-weight: 400;
			    padding: 6px 15px;
			    text-transform: uppercase;
			    display: inline-block;
			    margin-bottom: 5px;
			    border:1px solid $border-color;
			    &:hover{
			    	color: $theme-color;
			    	border-color:$theme-color;
			    	text-decoration: none;
			    }
			    + a{
			    	@include rtl-margin-left(4px);
			    }
		    }
		}
	}
	.entry-description{
		margin: 0 0 $theme-margin;
	}
	.social{
		margin: 25px 0 0 ;
	}
	.bo-sicolor{
		> a{
			@include rtl-margin-left(20px);
			color: $text-color;
			&:hover{
				color: $link-color;
			}
		}
	}
	&.style-timeline{
		position: relative;
		article{
			overflow: visible;
		}
		.apus-timeline-date{
			display: inline-block;
			position: relative;
			left: 50%;
			@include translateX(-50%);
			background:#f8f8f8;
		}
		.apus-posts-month{
			.item-first, .right{
				padding: 25px;
			} 
		}
		.apus-timeline-blog{
			position: absolute;
			top: 27px;
			height: 94%;
			border: 1px solid $theme-color;
			left: 50%;
		}

		.entry-content {
			position: relative;
			&:before{
				content: "\f04b";
				font-family: "FontAwesome";
				color: #ffffff;
				position: absolute;
				left: 100%;
			}
			&:after{
				content: "\f111";
				font-family: "FontAwesome";
				color: $theme-color;
				position: absolute;
				top: 15px;
			}
		}
		.item-first{
			.entry-content {
				&:before{
					left: 100%;
				}
				&:after{
					@include rtl-right(-33px);
				}
			}
		}

		.right{
			.entry-content {
				&:before{
					@include rtl-left(-10px);
					@include rotate(60deg);
				}
				&:after{
					@include rtl-left(-30px);
				}
			}
		}
	}
}
// style posts
.post{
	&.sticky{
		.date{
			border-color:$brand-danger;
		}
		.entry-title a{
			color: $brand-danger;
		}
	}
	.entry-description{
		margin: 0 0 20px;
	}
}
.post-grid{
	margin:0 0 100px !important;
	.meta{
		margin: 30px 0 5px;
		a{
			font-style:italic;
		}
		> span{
			line-height: 1;
			display: inline-block;
			margin-bottom: 0;
			+ span{
				@include rtl-padding-left(16px);
				@include rtl-margin-left(16px);
				@include rtl-border-left(1px solid $text-color);
			}
		}
	}
	.entry-content {
		overflow: hidden;
	}
	.date{
		@include border-radius(50%);
		line-height: 1.1;
		font-weight:700;
		font-size:16px;
		display: inline-block;
		text-align: center;
		padding:18px 25px;
		position:relative;
		border:2px solid $theme-color;
		&:before{
			margin: 20px 0 0;
			content: '';
			position:absolute;
			top: 100%;
			left: 50%;
			@include translateX(-50%);
			@include size(1px,10000px);
			background:$border-color;
		}
		.d{
			font-size:30px;
			font-family: $font-family-second;
			display:block;
		}
	}
	.entry-description{
		margin: 0 0 20px;
	}
	.entry-title{
		margin: 0 0 20px;
		padding:0 0 20px;
		font-weight:600;
		font-size: 28px; 
		position:relative;
	    &:before,&:after{
	      content: '';
	      position:absolute;
	      bottom:0;
	      z-index: 1;
	      @include rtl-left(0);
	      @include size(100%,1px);
	      background:$border-color;
	    }
	    &:before{
	      @include size(60px,1px);
	      background:$theme-color;
	      z-index: 9;
	    }
	}
	.left-content{
		width: 120px;
		@include rtl-float-left();
	}
	.content{
		width: calc(100% - 120px);
		overflow: hidden;
	}
}
//post masory
.isotope-items{
	.info-bottom{
		display: none;
	}
}
.style-chess{
	padding: 0 0 40px;
	article{
		margin: 0 !important;
	}
	.entry-content{
		padding:30px;
	}
	.entry-media{
		margin: 0;
	}
}
/* Post type: List */
.posts-list{
	list-style: none;
	padding:0;
	margin:0;
	li{
		margin:0 0 20px;
		padding: 0 0 20px;
		border-bottom: 1px solid $border-color;
		&:last-child{
			border:0;
			padding: 0;
			margin: 0;
		}
		.entry-content{
			background: transparent;
			padding: 0;
		}
	}
	.entry-thumb{
		width: 70px;
		max-width: 100%;
	}
	@media(min-width:992px){
		.media-left{
			@include rtl-padding-right($theme-margin);
		}
	}
	.entry-title{
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0 0 10px;
	}
	.entry-create{
		font-size: 13px;
	}
	.entry-meta{
		padding:0;
	}
}

/* Post type: By Category */
.posts-grid-category{
	overflow: hidden;
}
.category-posts{
	position: relative;
	&::after{
		content: "";
		top: 20px;
		position: absolute;
		@include rtl-right(0);
		@include size(1px,1000px);
		background: $border-color;
	}
	.post{
		border-bottom: 1px solid $border-color;
	}
	.category-posts-label{
		padding: 1px 3px;
		@include border-radius(0);
		background: $theme-color;
		font-weight: $category-posts-label-font-weight;
		@include font-size(font-size,$category-posts-label-font-size);
		text-transform: $category-posts-label-transform;
		a{
			color: $category-posts-label-color;
		}
	}
	.entry-meta{
		&::after{
			display: none;
		}
	}
	.posts-more{
		.post{
			&:last-child{
				border: 0px;
			}
		}
		.entry-title{
			@include font-size(font-size,$category-posts-subtitle-font-size);
			a{
				color: $gray-light;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}
}

/*------------------------------------*\
    Post detail
\*------------------------------------*/
.sharebox{
	margin-bottom: $post-share-margin;
	.sharebox-title{
		margin: $post-share-title-margin;
	}
}

.social-networks{
	li{
		padding-left: 10px;
		padding-right: 10px;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
		a{
			font-size: 14px;
			&:hover{
				color: $theme-color;
			}
		}
	}
}
.tag-links, 
.post-share {
	margin-bottom: 10px;
	span i {
		@include rtl-margin-right(5px);
	}
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/
.comment-list{
	margin: 0 0 20px;
	list-style: none;
	padding: 0;
	div.avatar{
		min-width: 130px;
		@include rtl-padding-right(30px);
		.avatar{
			@include border-radius(50%);
		}
	}
	> li{
		.the-comment{
			padding:0 0 45px ;
			margin:0 0 45px ;
			border-bottom: 1px solid $border-color;
		}
		&:last-child{
			border-bottom: none;
			margin-bottom: 0;
			padding:0;
		}
	}
	ul.children{
		list-style: none;
		padding:0;
		>li{
			@include rtl-padding-left(30px);
		}
	}
	.comment-author{
		font-size: 16px;
		margin: 0 0 10px;
		color: $theme-color;
		font-style: italic;
		strong{
			font-size: 22px;
			font-weight: 600;
			color: $link-color;
			font-style:normal;
		}
	}
	.comment-reply-link{
		color: $theme-color;
		font-size: 16px;
		&:hover,&:active{
			color: $theme-color-second;
		}
	}
}
.commentform {
	.title{
		font-size: 25px;
	    margin: 0 0 25px;
	    padding:0 0 15px;
	    position:relative;
	    &:before,&:after{
	      content: '';
	      position:absolute;
	      bottom:0;
	      z-index: 1;
	      @include rtl-left(0);
	      @include translateY(-50%);
	      @include size(100%,1px);background:$border-color;
	    }
	    &:before{
	      @include size(60px,1px);background:$theme-color;
	      z-index: 9;
	    }
	}
}
.post-navigation{
	.navi{
		display: block;
		float: none;
		width: 100%;
		margin: 0 0 10px; 
		font-family: $font-family-three;
		text-transform: uppercase;
	}
}
/*------------------------------------*\
    Single post
\*------------------------------------*/
.detail-post{
	.tag-social{
		padding:30px 0;
		border-top:1px solid $border-color;
		border-bottom:1px solid $border-color;
	}
	.apus-social-share{
		margin:5px 0 0; 
		a{
			@include rtl-margin-left(8px);
			text-align:center;
			line-height: 38px;
			display: inline-block;
			@include size(40px,40px);
			@include border-radius(50%);
			border:1px solid $border-color;
			color: $link-color;
			&:hover,&:active{
				color: #fff;
				background: $theme-color;
				border-color:$theme-color;
			}
		}
	}
	.tag{
		margin: 20px 0;
		overflow: hidden;
	}
	.author-info{
		background:$theme-color;
		padding:30px;
		margin-bottom: $theme-margin;
		@media(min-width:768px){
			padding:50px;
		}
		color: #fff;
		overflow: hidden;
		.about-container .avatar-img img {
			@include border-radius(50%);
			@include rtl-margin-right( 15px);
		}
		.author-title {
			font-size: 24px;
			margin: 0 0 20px;
			color: #fff;
			a{
				color: $link-color !important;
			}
		}
	}
	// navigation
	.post-navigation{
		position: relative;
	}
}
#comments{
	padding:30px 0 0;
	#reply-title{
		margin: 0;
	}
	.comments-title{
	    font-size: 25px;
	    margin: 0 0 25px;
	    padding: 0 0 15px;
	    position: relative;
		font-weight: 700;
		font-family: $font-family-second;
		&:before,&:after{
          content: '';
          background:$border-color;
          @include size(100%,1px);
          position: absolute;
          bottom:0;
          @include rtl-left(0);
          z-index: 1;
        }
        &:after{
          background:$theme-color;
          @include size(60px,1px);
          z-index: 2;
        }
	}
}
//post-navigation
.post-navigation{
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		overflow: hidden;
		> *{
			display: inline-block;
			+ *{
				@include rtl-margin-left(20px);
			}
		}
		.meta-nav{
			display: none;
		}
	}
	.btn.btn-outline{
		color: $link-color !important;
		&:hover,&:active{
			color: #fff !important;
		}
	}
}
//related-posts
.related-posts{
	.widget .widget-title{
		font-size: 25px;
	    margin: 0 0 35px;
	    padding: 0 0 22px;
	    position: relative;
	}
}
.post-list{
	margin-bottom:50px !important;
	.description{
		margin: 0 0 20px;
	}
	.entry-media{
		margin: 25px 0 0;
	}
}
/*------------------------------------*\
    Blog Page Default
\*------------------------------------*/
.post-area{
	.post-list{
		.entry-list{
			margin-bottom: 0;
		}
	}
	.sticky{
		margin-top: 20px;
		padding: 20px;
		border: 2px solid $theme-color;
	}
	.post-link{
		@include font-size(font-size,18px);
		display: block;
		padding: 17px 27px;
		min-height: 60px;
		color: $white;
    	@include rtl-float-left();
    	@include size(100%,auto);
    	background: $gray-darker;
	}
	.entry-meta{
		margin: 8px 0 12px 0;
		font-size: 12px;
		font-weight: 300;
		&,a{
			color: $theme-color;
		}
	}
	.entry-content{
		.ratings{
			.meta{
				color: inherit;
				font-size: inherit;
			}
			.rating {
				a {
					text-indent: -999em;
				}
			}
		}
	}	
}
.blog-post-icon{
	display: table;
	color: $white;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 1;
	background: $theme-color;
	@include opacity(0.9);
	@include rtl-left(0);
	@include square(50px);
	.fa{
		display: table-cell;
		vertical-align: middle;
		font-size: 22px;
	}
}

/*------------------------------------*\
    Blog Masonry Page
\*------------------------------------*/
.blog-masonry{
	.entry-thumb{
		margin-bottom: 0;
	}
}
.format-gallery{
	.owl-controls .owl-dots{
		display: none !important;
	}
}
// post gallery
.gallery{
	margin-left: -($theme-margin / 2);
	margin-right: -($theme-margin / 2);
	overflow: hidden;
	.gallery-item{
		@include rtl-float-left();
		margin-bottom:($theme-margin / 2);
		padding-right: ($theme-margin / 2);
		padding-left: ($theme-margin / 2);
		position: relative;
		figcaption{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			color: #fff;
			max-height: 50%;
			font-size: 12px;
			background: rgba(0,0,0,0.5);
			margin-left: ($theme-margin / 2);
			margin-right: ($theme-margin / 2);
			@include opacity(0);
		}
		&:hover{
			figcaption{
				@include opacity(1);
			}
		}
	}
	&.gallery-columns-9{
		.gallery-item{
			width: 11%;
		}
	}
	&.gallery-columns-8{
		.gallery-item{
			width: 12.5%;
		}
	}
	&.gallery-columns-7{
		.gallery-item{
			width: 14%;
		}
	}
	&.gallery-columns-6{
		.gallery-item{
			width: 16.5%;
		}
	}
	&.gallery-columns-5{
		.gallery-item{
			width: 20%;
		}
	}
	&.gallery-columns-4{
		.gallery-item{
			width: 25%;
		}
	}
	&.gallery-columns-3{
		.gallery-item{
			width: 33%;
		}
	}
	&.gallery-columns-1{
		.gallery-item{
			width: 100%;
		}
	}
	&.gallery-columns-2{
		.gallery-item{
			width: 50%;
		}
	}
}