/*------------------------------------*\
    Widget
\*------------------------------------*/
.ares .tp-bullet{
    @include opacity(0.5);
    &.selected,
    &:hover,
    &:active{
        @include opacity(1);
    }
}
.widget{
    label{  
        font-weight: $font-weight-base;
    }
    &.widget_revslider{
        margin: 0;
    }
    // widget text
    &.widget_text{
        img{
            margin: $theme-margin / 2 0;
            height: auto;
        }
    }
    // widget post
    .post-widget{
        .image{
            width: 70px;
            margin-top: 5px;
            img{
                @include size(percentage(1),auto);
            }
        }
    }
    // widget archive
    
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
        }
    }
    // widget recent comments
    &.widget_recent_comments{
        @include lists-style();
        ul li{
            background: none;
        }
    }
    // widget rss
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
            &:before{
                display: none;
            }
        }
    }
    //map
    &.widget-google-map{
        margin: 0;
    }
    //Widget Recent Reviews
    &.widget_recent_reviews {
        ul.product_list_widget {
             list-style: none;
             li {
                padding: 15px;
                overflow: hidden;
                a img{
                    float: left; 
                    @include rtl-margin-right(10px);
                }
             }
        }
    }
    //widget product search
    &.widget_product_search {
        .woocommerce-product-search{
            padding: 20px 15px;
            label.screen-reader-text {
                display: none;
            }
        }
    }

    //Widget Yith Woocompare-
    &.yith-woocompare-widget {
        .products-list{
            padding-top: 20px;
             padding-bottom: 20px;
        }
        a{
            &.clear-all{
                margin-bottom: 20px;
                @include rtl-margin-left(15px);
            } 
            &.compare{
                margin-bottom: 20px;
                @include rtl-margin-right(15px);
            }
        }
    }

    //Widget Shopping Cart
    &.widget_shopping_cart {
        .widget_shopping_cart_content{
            padding: 20px 15px;
            overflow: hidden;
        }
    }

    //widget_recent_entries
    &.widget_recent_entries {
        ul li {
            a {
                display: block;
            }
        }
    }
    //form
    &.widget_mc4wp_widget {
        .mc4wp-form {
            padding:  20px;
        }
    }
    &.widget-timework{
        strong{
            color: #000;
            font-weight: 500;
        }
    }
}
.widget-compare-device{
    .widget-content{
        overflow: auto;
    }
}
//widget_recent_entries
.widget_recent_entries{
    > ul{
        padding: 0;
        margin: 0;
        list-style: outside none none;
        li{
            line-height: 26px;
            padding-bottom:15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
            a{
                font-weight: 400;
            }
        }
    }
}

/*------------------------------------*\
    Widget Contact Us
\*------------------------------------*/
.contact{
    margin: 0;
    padding: 0;
	@include clearfix();
	dt{
		@include rtl-float-left();
		@include size(30px,auto);
	}
	dd{
		overflow: hidden;
		margin-bottom: 5px;
	}
    .contact-icon{
        display: block;
        text-align: center;
        background: $contact-icon-bg;
        @include rtl-float-left();
        @include square($contact-icon-size);
        @include border-radius($contact-icon-border-radius);
        .fa{
            color: $contact-icon-color;
            @include font-size(font-size,$font-size-base);
            @include rtl-margin(0, 0, 0, 4px);
        }
    }
}
// apus video
.widget-video{
    .popup-video{
        position: relative;
        display: block;
        i{
            font-size: 30px;
            position: absolute;
            z-index: 2;
            top: 50%;
            @include transition(all 0.3s ease-in-out 0s);
            left: 50%;
            @include transform(scale(0.8) translate(-50%,-50%));
            display: inline-block;
            @include size(80px,80px);
            line-height: 80px;
            text-align: center;
            background: rgba(0,0,0,0.4);
            @include border-radius(50%);
            color: #fff;
            @include transform-origin(0,0);
        }
        &:before{
            @include transition(all 0.3s ease-in-out 0s);
            content: '';
            position: absolute;z-index: 1;
            top: 0;
            left: 0;
            @include size(100%,100%);
            background:rgba(0,0,0,0.5);
            @include opacity(0);
        }
        &:active,
        &:focus,
        &:hover{
            outline: none;
            &:before{
                @include opacity(1);
            }
            i{
                background: rgba(0,0,0,0.8);
                @include transform(scale(1) translate(-50%,-50%));
            }
        }
    }
}
/*------------------------------------*\
    Widget mailchip
\*------------------------------------*/
.mc4wp-form-basic, .mc4wp-form-basic input, .mc4wp-form-basic label, .mc4wp-form-theme, .mc4wp-form-theme input, .mc4wp-form-theme label{
    line-height: inherit;
}
.mc4wp-form-basic{
    .form-control{
        max-width: 100% !important;
    }
}
.widget-mail-form{
    .input-group{
        width: 100%;
    }
    .desc{
        margin:0 0 15px;
    }
    .form-control{
        height: $input-height-base;
        @include border-radius(0);
    }
    .btn{
        padding: $padding-base-vertical 17px;
        @include border-radius(0);
    }
}
.mc4wp-form-basic, .mc4wp-form-theme{
    margin: 0;
}
//.widget-newletter
.widget-newletter{
    .form-control{
        &:-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $text-color;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $text-color;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $text-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $text-color;
        }
        @include transition(all 0.3s ease-in-out 0s);
        &:focus{
            border-color:$theme-color;
        }
    }
    [type="submit"]{
        padding:$padding-base-vertical 30px;
    }
    .widget-content{
        padding: 0 0 13px;
    }
    .input-group-btn{
        vertical-align: top;
    }
    .terms{
        margin: 25px 0 0;
        [type="checkbox"]{
            @include rtl-margin-right(10px);
            vertical-align: baseline;
            margin-top:0;
        }
    }
}
/*------------------------------------*\
    Widget Sidebar
\*------------------------------------*/
.#{$app-prefix}-sidebar{
    select,table{
    	width: 100%;
    }
    .post-widget{
        .blog-title,h6{
            margin: 0 0 5px;
            line-height: $widget-sidebar-entry-title-line-height;
            font-weight: $widget-sidebar-entry-title-font-weight;
            @include font-size(font-size,$widget-sidebar-entry-title-font-size);
            height: 40px; 
            overflow: hidden;
            font-family: $font-family-base;
        }
    }
}

/*------------------------------------*\
    search
\*------------------------------------*/
.apus-search-form{
    .input-group{
        .apus-search{
            @include rtl-border-right(none);
            &:focus,&:active{
                border-color: $border-color;
            }
        }
        .btn{
            background: #fff;
            border-color: $border-color;
            @include rtl-border-left(none);
        }
    }
}

// support
.support1{
    line-height: 1;
    padding: 0 ($theme-margin / 2);
    i{
        font-size: 28px;
    }
    .media-left{
        vertical-align: middle;
    }
    @media(min-width:992px){
      .media-left{
          @include rtl-padding-right(20px);
          @include rtl-border-right(1px solid $border-color);
      }
      .media-body{
        @include rtl-padding-left(20px);
      }
    }
    .title{
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 5px;
        line-height: 1;
    }
    p{
        margin: 0;
    }
}
/*------------------------------------*\
    Tags Widget
\*------------------------------------*/
.tagcloud{
	a{
        color: $text-color;
        font-size: 14px !important;
        @include rtl-base-toprightbottomleft(margin,0,10px,10px,0);
         display: inline-block;
         @include border-radius(25px);
         padding: 6px 10px;
         border:1px solid $border-color;
         @include transition(all 0.3s ease 0s);
        &:focus,
        &:hover{
            color: #fff !important;
            background: $theme-color;
            border-color: $theme-color;
        }
	}
}
//widget-brand-logo
.widget-brand-logo {
    padding:$theme-padding;
    .item-brand {
        > a {
            display: block;
        }
    }
    .carousel-control{
        @include opacity(0);
    }
    &:hover{
        .carousel-control{
            @include opacity(1);
        }
    }
}
//widget_apus_recent_post
.widget_apus_recent_post{
    .slick-prev, .slick-next{
        margin: 0;
        top:-78px;
        border:none;
        width:auto;
        background:#fff !important;
        color: $link-color;
        padding:0 5px;
        &:hover,&:active{
            &:before{
                color: $theme-color;
            }
        }
    }
    .slick-prev{
        left: inherit;
        right: 30px;
    }
}
/*-----------------------------*\
        Widget video
\*-----------------------------*/
.wpb_video_widget{
    .video-description{
        text-transform: uppercase;
        font-weight: 400;
        line-height: 30px;
        font-size: 12px;
        color: $black;
    }
    .wpb_wrapper .wpb_video_wrapper{
        padding-top: 60.7%!important;
    }
}
/*-----------------------------*\
        Widget Vertical Menu
\*-----------------------------*/
.vertical-menu{
    display: none!important;
    padding: 0;
    background: $white;
    z-index: 999;
    > .nav{
        position: relative;
        @include size(100%, auto);
        .open > a,
        .active > a {
            &,
            &:hover,
            &:focus {
              color: $vertical-menu-link-hover-color;
            }
        }
        > li{
            float: none;
            position: static;
            border-bottom: $vertical-menu-link-border;
            &.active{
                > a{
                    color: $vertical-menu-link-hover-color;
                    background:#fafafa;
                }
            }
            > a{
                color: $vertical-menu-link-color;
                padding: $vertical-menu-link-padding;
                font-weight: $vertical-menu-link-font-weight;
                font-size: $vertical-menu-font-size;
                text-transform: $vertical-menu-link-transform;
                white-space: nowrap;
                &:hover{
                    color: $vertical-menu-link-hover-color;
                    background:#fafafa;
                }
                .fa{
                    font-size: $vertical-menu-icon-font-size;
                    min-width: 15px;
                    @include rtl-margin-right(12px);
                }
            }
            .dropdown-menu{
                min-width: 230px;
                min-height: 100%;
                @include border-radius(0);
            }
        }
        .product-block {
            padding: 0!important;           
            overflow: hidden;
            display: block;
        }
    }
    //--------------------------dropdown-menu--------------------------
    .dropdown-menu{
        margin:0;
        padding: $theme-padding;
        border:none;
        top: 0;
        @include clearfix();
        ul{
            padding: 0;
            list-style: none;
            li{
                line-height: 34px;
                a{
                    color: $vertical-menu-link-color;
                    &:hover,
                    &.active{
                        color: $theme-color;
                    }
                }
            }
            ul{
                @include rtl-padding-left($theme-padding/2);
            }
        }
        //-------------------------- products--------------------------
        .widget-title{
            border:none;
            font-size: 16px;
            padding:0 0 ($theme-padding / 2);
            color:$headings-color;
        }
        .woocommerce {
            .product-wrapper{
                @include box-shadow(none !important);
            }
        }
    }
    &.menu-left{
        .dropdown-menu{ 
            @include rtl-left(100%!important);
            @include rtl-right(auto !important);
        }
    }
    &.menu-right{
        .dropdown-menu{
            @include rtl-left(auto !important);
            @include rtl-right(100% !important);
        }
    }
    // icon
    .icon-ver{
        @include rtl-margin-right(10px);
    }
}    
//Widget default
#recentcomments{
    > li{
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-weight:  bold;
        &:first-child{
            border-top: 0;
        }
        &:last-child{
            border-bottom: 0;
        }
        a{
            font-weight: 300;
        }

    }
}

// Widget quicklink menu
.widget-quicklink-menu {
    background-color: #f6f6f6;
    line-height: 35px;
    .quicklink-heading {
        background-color: #333333;
        color: #ffffff;
        display: inline-block;
        font-size: 10px;
       @include rtl-margin (0, 20px, 0, 0);
        padding: 12px 15px 12px 25px;
        position: relative;
        text-transform: uppercase;
        font-family: $font-family-second;
        &:before{
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            @include rtl-border-left( 10px solid #333);
            content: "";
            position: absolute;
            @include rtl-right (-10px);
            top: 0;
        }
    }
    a {
        color: #999999;
        font-size: 12px;
         font-weight: 400;
        &:hover {
            color: $theme-color;
        }
    }
}
// Widget On Sale
.woo-onsale {
    .onsale {
        display:  none;
    }
    .product-sale-label {
        position: absolute;
        @include size(36px, 36px);
        background-color: #fb4949;
        color: #fff;
        top: 10px;
        @include rtl-right(10px);
        @include border-radius(50%);
        line-height: 36px;
        font-size: 12px;
        font-weight: 400;
    }
}
// widget tabs
.widget-tabs{
    .widget-title{
        display: inline-block;
    }
    .nav-tabs{
        border:none;
        display: inline-block;
        vertical-align: middle;
        margin:0 0 7px;
        &.tabs-list-v2{
            margin:0 0 15px;
        }
    }
    .carousel-controls{
        top: -42px;
    }
}

//widget-infor
.widget-infor{
    .media{
        .fa,.icon{
            display: inline-block;
            @include size(30px,30px);
            line-height: 30px;
            text-align: center;
            color: $theme-color;
            background: #252525;
        }
    }
}
// contant-info
.contant-info{
    .title{
        margin: 0 0 20px;
        font-size: 30px;
    }
    .info-description{
        margin: 0 0 30px;
    }
    .media-heading{
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 5px;
    }
    .media{
        margin-top: 30px;
        &:hover{
            .fa{
                border-color: $brand-danger;
                color: $brand-danger;
            }
        }
    }
    .media-left{
        @include rtl-padding-right(20px);
        .fa{
            border: 2px solid $brand-primary;
            border-radius: 50%;
            color: $brand-primary;
            font-size: 25px;
            height: 58px;
            line-height: 52px;
            text-align: center;
            width: 58px;
        }
    }
}
// monster widget
.widget_meta,
.widget_archive{
    > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            line-height: 2;
        }
    }
}
.widget_categories,
.widget_archive{
    select{
        width: 100%;
        padding: 8px;
        color: $link-color;
    }
    ul{
        margin:0;
        padding:0;
        li{
            line-height: 2.2;
            a{
                display: inline-block;
                color: $text-color;
                &:hover,&:active{
                    color: $theme-color;
                }
                &:before{
                    font-family: 'FontAwesome';
                    content: "\f101";
                    color: $theme-color;
                    @include rtl-margin-right(15px);
                    display: inline-block;
                }
            }
        }
    }
}
.widget_pages{
    ul{
        list-style: none;
        li{
            line-height: 2;
        }
    }
    > ul{
        padding: 0;
        margin: 0;
    }
}
.textwidget{
    select{
        padding: 8px;
        max-width: 100%;
        color: $link-color;
    }
}

//ul socials
ul.socials{
    padding:0;
    margin: 0;
    list-style: none;
    li{
        display: inline-block;
        width: 16%;
        text-align: center;
        padding:15px 0;
        @include rtl-border-left(1px solid $border-color);
        &:first-child{
            @include rtl-border-left(none);
        }
        font-weight: 700;
        a{
            color: #605959;
        }
    }
}

//widget_apus_instagram
.widget_apus_instagram{
    .instagram-widget{
        .row{
            margin: 0;
            > div{
                padding: 0;
            }
            a{
                position: relative;
                display: block;
                line-height:0;
                &:before{
                    content: "\e934";
                    font-family: "monia" !important;
                    position: absolute;
                    color: #ffffff;
                    top: -50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    @include transition(all 0.4s ease);
                    font-size: 24px;
                    @include opacity(0);
                }
                &:hover{
                    &:before{
                        top: 50%;
                        z-index: 1;
                        @include opacity(1);
                    }
                    img{
                        -webkit-filter: brightness(.5);
                         filter: brightness(.5);
                    }
                }
            }   
        }
    }
}

//kc_single_image
.kc_single_image{
    position: relative;
    @include transition(all 0.4s ease);
    .scapt{
        margin: 0 auto;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
        position: absolute;
        top: 50%;
        text-align:center;
        left: 0;
        right: 0;
        line-height: 55px;
        @include translateY(-50%);
        font-family: $font-family-serif;
        @media (max-width: $screen-phone){
            font-size: 30px;
            line-height: 40px;
        }
    }
    .kc-image-overlay{
        i{
            display: none;
        }
    }
}
//contact-topbar-1
.contact-topbar-1{
    .textwidget{
        .media{
            display: inline-block;
            @include rtl-padding-right(22px);
            margin:0;
            .media-body{
                p{
                    margin:0;
                }
                .phone-info{
                    color: $theme-color-secondary;
                }
                vertical-align: middle;
            }
        }
    }
}

//widget_products_categories
.widget_products_categories{

    .title_products_categories{
        text-align: center;
        top: 0;
        left: 15px;
        right: 15px;
        height: 100%;
        position: absolute;
        h3{
            margin: 0;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 5px;
            color: #ffffff;
        }
        >div{
            position: relative;
            top: 50%;
            @include translateY(-50%);
        }
    }

    .products-grid{
        margin: -30px 0 0;
        .product-block.grid{
            margin:30px 0 0;
        }
    }
    .layout-fix{
        margin: -30px 0 0;
        .product-block.grid{
            margin:30px 0 0;
        }
    }
    .banner-images{
        padding: 30px 0 0;
    }
}



//widget-ground-banner
.widget-ground-banner{
    .b-absolute-left{
        position: absolute;
        height: 100%;
        @include rtl-right(0);
    }
    .b-absolute-right{
        position: absolute;
        height: 100%;
    }
    .banner-title{
        font-size: 30px;
        
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        position:absolute;
        height: 100%;
        top: 0;
        width: 100%;
        left: 0;
        
        span{
            color: #ffffff;
            position: relative;
            font-family: $font-family-serif;
            display: inline-block;
            top: 50%;
            @include translateY(-50%);
            &:after{
                content: "";
                background: url("#{$image-theme-path}iconline1.png") no-repeat;
                width: 40px;
                height: 4px;
                margin: 0 auto;
                position: absolute;
                bottom:-5px;
                left: 0;
                right: 0;
            }
        }
    }
        
    .banner-title{
        @include transition(all 0.4s ease 0s);
        &:hover{
            span{
                color: rgba(#ffffff,0.6);
            }
        }
    }
    .image-wrapper{
        @include transition(all 0.4s ease 0s);
         &:hover{
            img{
                @include opacity(0.85);
            }
        }
    }
}
.widget_apus_custom_menu{
    margin: 0;
    .menu-categories-container{
        background: $theme-color-secondary;
        font-size: 20px;
        font-weight: 700;
        ul{
            padding: 0 30px;
            li{
                line-height: 59px;
                border-bottom: 1px solid rgba(#dddddd,0.3);
                &:last-child{
                    border: 0;
                }
                a{
                    color: #ffffff;
                }
            }
        }
    }
}

//pop-up

.popupnewsletter-wrapper .mfp-inline-holder .mfp-content, .popuppromotion-wrapper .mfp-inline-holder .mfp-content{
    padding:0;
    background-color: #e8fff6;
    width: 700px;
    .mfp-close{
        background:  url("#{$image-theme-path}close.png") no-repeat;
        height: 50px;
        opacity: 1;
        right: -30px;
        top: -30px;
        width: 60px;
        line-height: 61px;
        &:hover, &:active{
            background:  url("#{$image-theme-path}close.png") no-repeat;
            color: $theme-color;
        }
    }
}

.popuppromotion-wrapper .mfp-inline-holder .mfp-content{
    width: 414px;
    background-color: #F6FEFA;
}


.popupnewsletter-widget{
    text-align: center;
    padding:26px 30px 0 10px;
    h3{
        font-size: 36px;
        text-transform: uppercase;
        &:after{
            background:  url("#{$image-theme-path}mail.png") no-repeat;
            content: "";
            @include size(180px , 180px);
            top: 35px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .description{
        font-size: 16px;
        margin-bottom: 33px;
        line-height: 1.6;
    }
    .mail-form{
        .name{
            display: none;
        }
        .input-group .form-control, .input-group-btn{
            display: inline;
        }
        .input-group .form-control{
            background: transparent;
            border: none;
            border-bottom: 1px solid $border-color;
            text-align: center;
            padding:6px;
        }
        .input-group-btn button{
            margin-top: 20px;
            position: relative;
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 6px;
        }
    }
    .socials{
        margin-top: 44px;
        a{
            color: #111;
            font-size: 10px;
            font-weight: 700;
            padding: 0 9px;
            text-transform: uppercase;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.widget-product-package{
    background:#fff;
    text-align: center;
    margin: 0;
    overflow: hidden;
    .widget-content {
        position:relative;
        overflow: hidden;
        .star-number{
            position:absolute;
            background:$theme-color;
            color: #ffffff;
            left: -28px;
            top: 14px;
            @include rotate(-45deg);
            width: 120px;
        }
    }
    .name{
        padding:40px 10px 30px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        font-family: $font-family-second;
    }
    .block-inner-content{
        color:$link-color;
        font-size: 20px;
        ul{
            list-style:none;
            margin:40px 0;
            padding:0 10px;
        }
    }
    .wrapper-pricing{
        position:relative;
        &:before{
            content: '';
            @include size(100%,1px);
            background:$theme-color;
            position:absolute;
            top: 50%;
            left: -0;
            @include translateY(-50%);
        }
    }
    .price{
        display:inline-block;
        padding:42px 34px;
        border:2px solid $theme-color;
        @include border-radius(50%);
        background:#fff;
        color:$link-color;
        font-size: 50px;
        line-height: 1;
        font-weight: 700;
        font-family: $font-family-second;
        position:relative;
        .woocommerce-Price-currencySymbol{
            font-weight: 300;
            font-size: 30px;
            vertical-align: super;
        }
    }
    .add-cart{
        padding-bottom:50px;
        .added_to_cart,
        .add_to_cart_button{
            font-size: 18px;
            background:transparent;
            font-weight: 700;
            padding:7px 50px;
            border:2px solid $theme-color;
            color: $link-color;
            @include border-radius(50px);
            &:hover,&:active{
                color: #fff !important;
                background:$theme-color;
                border-color:$theme-color;
            }
        }
    }
    &:hover{
        .add-cart .add_to_cart_button{
            background:$theme-color;
            border-color:$theme-color;
            color: #fff;
        }
    }
    &.feature{
        .price{
            color: #fff;
            background: $theme-color;
        }
        .add-cart .add_to_cart_button{
            background:$theme-color;
            border-color:$theme-color;
            color: #fff;
        }
    }
}
// contact form 7
.contact-1{
    .form-control{
        @include transition(all 0.3s ease-in-out 0s);
        height: 50px;
        background:rgba(0,0,0,0.3);
        border:1px solid #27251f;
        font-size: 14px;
        margin-bottom: 20px;
        @include border-radius(0);
        &:focus{
            border-color:$theme-color;
        }
    }
    textarea.form-control{
        resize: none;
        height: 90px;
        margin-bottom: 40px;
    }
    .row{
        margin-left: -10px;
        margin-right: -10px;
        > [class *="col-"]{
            padding-right:10px;
            padding-left:10px;
        }
    }
    [type="submit"]{
        padding:7px 65px;
    }
}
// phone
.phone{
    .title{
        color: $theme-color;
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 10px;
    }
    .number{
        font-size: 40px;
        font-weight: 200;
        position:relative;
        color: #fff;
        padding:0 0 25px;
        margin: 0 0 30px;
        &:before,&:after{
          content: '';
          background:$border-color;
          @include size(100%,1px);
          position: absolute;
          bottom:0;
          @include rtl-left(0);
          z-index: 1;
        }
        &:after{
          background:$theme-color;
          @include size(60px,1px);
          z-index: 2;
        }   
    }
}
.widget-blog{
    &.grid{
        margin-bottom: 0;
    }
    &.carousel{
        margin:0;
    }
    &.topnav{
       .slick-prev, .slick-next{
            margin: 0;
            top:-88px;
            border:none;
            width:auto;
            background:#fff !important;
            color: $link-color;
            padding:0 5px;
            &:hover,&:active{
                &:before{
                    color: $theme-color;
                }
            }
        }
        .slick-prev{
            @include rtl-left(inherit);
            @include rtl-right(30px);
        } 
    }
}
.widget_apus_socials_widget{
    .social{
        margin: 0;
        display: inline-block;
        > li{
            padding:0 7px;
        }
    }
    .title{
        display: inline-block;
        margin: 0;
        font-size: 14px;
        font-family: $font-family-base;
        font-weight: 400;
    }
}
.search-form{
    .form-control{
        border-width:1px 0 1px 1px;
        &:focus{
            border-color:$border-color;
        }
    }
    [type="submit"]{
        padding:$padding-base-vertical ;
        background:transparent !important;
        height: $input-height-base;
        border-width:1px 1px 1px 0;
        border-color:$border-color;
        color: $link-color;
        &:hover,&:active{
            color: $theme-color;
        }
    }
}
.contact-info-widget{
    > .media{
        width:33%;
        margin: 0;
        @include rtl-float-left();
    }
    .media-heading{
        font-weight: 400;
        font-family: $font-family-second;
        margin: 0 0 4px;
    }
    p{
        margin: 0;
        font-size:16px;
        color: #a6a6a6;
    }
}
// calculated
#fbuilder{
    .style-focus{
        input{
            border:2px solid $theme-color;
        }
    } 
    select ,
    [type="password"],
    [type="number"],
    [type="text"]{
        height: $input-height-base;
        @include transition(all 0.2s ease-in-out 0s);
        border:1px solid $border-color;
        padding:12px 20px;
        &:focus{
            border-color:$theme-color;
        }
    }
    label[for *= 'fieldname'] {
        text-transform: uppercase;
        color: $link-color;
        font-size: 18px;
        font-weight: 600;
        font-family: $font-family-second;
        margin:0 0 10px; 
    }
    label{
        font-size: 16px;
        color: $link-color;
        margin:0;
    }
    .colum-gutter{
        > div{
            overflow: hidden;
            margin-right: -($theme-margin / 2);
            margin-left: -($theme-margin / 2);
            > div{
                padding-right:$theme-margin / 2;
                padding-left:$theme-margin / 2;
            }
        }
    }
    .submit,
    .service{
        > label{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            font-family: $font-family-second;
            margin:0 ; 
            @include rtl-float-left();
            @include rtl-margin-right(20px);
            + div{
                overflow: hidden;
            }
        }
    }
    .service{
        .dfield{
            label{
                [type="radio"]{
                    display: none;
                }
                cursor: pointer;
                &:before{
                    content: '';
                    @include size(20px,20px);
                    border:2px solid $theme-color;
                    background:#fff;
                    display: inline-block;
                    @include rtl-margin-right(15px);
                    @include border-radius(50%);
                    vertical-align:middle;
                }
                &.active:before{
                    background:$theme-color;
                }
            }
        }
    }
    .div-sumit{
        margin-top: 20px;
        border-width:1px 0 ;
        border-style:solid;
        border-color:$border-color;
    }
    .submit{
        .dfield input{
            border:none !important;
            font-size: 22px;
            font-weight: 600;
            font-family:$font-family-second;
            color: $theme-color;
            @include rtl-text-align-right();
            padding:0;
            line-height: 1.5;
            height: auto;
        }
    }
    .fform h2{
        font-size: 22px;
        margin: 0 0 20px !important;
        padding:0 0 22px !important;
        position:relative;
        text-transform:uppercase;
        &:before,&:after{
          content: '';
          position:absolute;
          bottom:0;
          z-index: 1;
          @include rtl-left(0);
          @include translateY(-50%);
          @include size(100%,1px);background:#f2f2f2;
        }
        &:before{
          @include size(60px,1px);background:$theme-color;
          z-index: 9;
        }
    }
}
#fbuilder .fields, #fbuilder .fform{
    padding-top:7px !important;
    padding-bottom:7px !important;
}
.rtl{
    .widget-newletter .input-group-btn{
        .btn{
            @include border-radius($border-radius-base 0 0 $border-radius-base);
        }
    }
    .pull-right > .dropdown-menu,
    .dropdown-menu-right{
        left: 0;
        right: inherit;
    }
    .navbar-nav > li{
        float: right;
    }
}